<Layouts::Center>
  <div class="dashboard-repos">
    <UiKit::Box @tag='section' data-test-dashboard-starred-repositories="true">
      <UiKit::Text @color='blue-light' @margin={{hash bottom=2}} @size='2xl'>
        Starred repositories
      </UiKit::Text>
      <UiKit::Box>
        {{#each this.starredRepos as |repo|}}
          <DashboardRow @repo={{repo}} @star={{this.star}} @unstar={{this.unstar}} />
        {{else}}
          <div class="starred-empty">
            <SvgImage @name="icon-star" @class="icon--m" />
            You can keep track of your favorite repositories here once you start starring!
          </div>
        {{/each}}
      </UiKit::Box>
    </UiKit::Box>
  </div>
  <header class="dashboard tabs">
    <LinkTo @route="dashboard.repositories" data-test-active-repos-tab="true">
      <UiKit::Text @color='blue-light' @margin={{hash bottom=2 right=4}} @size='2xl' class="underline-if-active">
        Active repositories
      </UiKit::Text>
    </LinkTo>
    <LinkTo @route="dashboard.builds" data-test-my-builds-tab="true">
      <UiKit::Text @color='blue-light' @margin={{hash bottom=2}} @size='2xl' class="underline-if-active">
        My builds
      </UiKit::Text>
    </LinkTo>
  </header>
  {{outlet}}
</Layouts::Center>
